@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&subset=cyrillic');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Roboto", sans-serif;
}

body {
	font-size: 20px;
	background: #F5E9D9;
}

#container {
	margin: 0 auto;
	padding: 50px 0;
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 1100px;
	height: 667px;
	position: relative;
	perspective: 1000px;
	perspective-origin: 750px 0;
}

#book_logo {
	width: 50px;
	height: 50px;
	background: url("../img/book_logo.png") center no-repeat;
	background-size: contain;
	margin-bottom: 10px;
}

#main_form {
	width: 500px;
	padding: 20px 0;
	border: 1px solid #303030;
	display: flex;
	flex-direction: column;
	align-items: center;
	background: #fffdee;
	box-shadow: 0 10px 30px #999;
	border-radius: 5px;
	z-index: 100;
	position: absolute;
}

#main_form > div {
	padding: 10px 0;
	width: 80%;
	display: flex;
	flex-direction: column;
	position: relative;
}

#main_form > div > span {
	font-size: 1.2em;
	margin-bottom: 5px;
}

#main_form > div > input {
	border: 0;
	border-bottom: 2px dashed #ccc;
	background: transparent;
	outline: 0;
	height: 30px;
	font-size: 0.9em;
	padding-left: 15px;
}

#lib_request_btn {
	margin-top: 15px;
	width: 300px;
	height: 40px;
	cursor: pointer;
	background: #303030;
	color: #fff;
	border: 0;
	font-size: 0.9em;
}

.arrow {
	border: solid #303030;
	border-width: 0 3px 3px 0;
	display: inline-block;
	width: 8px;
	height: 8px;
	position: absolute;
	bottom: 21px;
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
}

.result {
	width: 500px;
	height: fit-content;
	border: 1px solid #303030;
	display: flex;
	flex-direction: column;
	align-items: center;
	background: #fffdee;
	box-shadow: 0 10px 50px #999;
	border-radius: 5px;
	padding: 20px 0;
	position: absolute;
	z-index: 50;
	overflow: hidden;
	transform-style: preserve-3d;
	perspective-origin: 100% 0;
}

.result_span {
	margin-bottom: 10px;
}

.close_res_btn {
	position: absolute;
	top: 10px;
	right: 10px;
	display: block;
	height: 20px;
	width: 20px;
	cursor: pointer;
}

.close_res_btn:after, .close_res_btn:before {
	content: "";
	position: absolute;
	top: 10px;
	width: 20px;
	height: 2px;
	background: #303030;
}

.close_res_btn:before {
	webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}

.close_res_btn:after {
	webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

#library {
	margin: 0 auto;
	padding: 20px 0;
	max-width: 1100px;
}

#library_header {
	display: flex;
	align-items: center;
	width: 100%;
	height: 40px;
	background: #ffa500;
	padding: 0 30px;
	border-radius: 25px 25px 0 0;
}

#library_content {
	padding: 20px 145px;
	display: flex;
	flex-wrap: wrap;
	background: #fffdee;
}

.library_book {
	margin: 10px;
	height: 250px;
	padding: 10px 20px;
	border: 1px solid black;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.library_book > span {
	border-bottom: 1px solid #ccc;
	margin: 5px 0;
	width: 100%;
	text-align: right;
	position: relative;
}

.library_book > span:before {
	display: block;
	color: #777;
	font-size: 0.8em;
	float: left;
	margin-right: 15px;
	margin-top: 3px;
}

.lib_book_author:before {
	content: "Автор: ";
}

.lib_book_name:before {
	content: "Название: ";
}

.lib_book_country:before {
	content: "Страна: ";
}

.lib_book_year:before {
	content: "Год: ";
}

.lib_book_count:before {
	content: "Количество: ";
}
