@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&subset=cyrillic');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Roboto", sans-serif;
}

body {
	font-size: 20px;
	background: #F5E9D9;
}

ul {
	list-style-type: none;
}

#container {
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 1100px;
	min-height: 100vh;
	max-height: 1200px;
	position: relative;
	perspective: 1000px;
	perspective-origin: 850px 0;
}

#book_logo {
	width: 50px;
	height: 50px;
	background: url("../img/book_logo.png") center no-repeat;
	background-size: contain;
	margin-bottom: 10px;
}

#main_form {
	width: 500px;
	padding: 20px 0;
	border: 1px solid #303030;
	display: flex;
	flex-direction: column;
	align-items: center;
	background: #fffdee;
	box-shadow: 0 10px 30px #999;
	border-radius: 5px;
	z-index: 100;
	position: absolute;
}

#main_form > div {
	padding: 10px 0;
	width: 80%;
	display: flex;
	flex-direction: column;
	position: relative;
}

#main_form > div > span {
	font-size: 1.2em;
	margin-bottom: 5px;
}

.main_form_input {
	border: 0;
	outline: 0;
	border-bottom: 2px dashed #ccc;
	background: transparent;
	height: 30px;
	font-size: 0.9em;
	padding-left: 15px;
}

#lib_request_btn {
	border: 0;
	outline: 0;
	margin-top: 15px;
	width: 300px;
	height: 40px;
	cursor: pointer;
	background: #303030;
	color: #fff;
	font-size: 0.9em;
}

.arrow {
	border: solid #303030;
	border-width: 0 3px 3px 0;
	display: inline-block;
	width: 8px;
	height: 8px;
	position: absolute;
	bottom: 21px;
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	transition: 0.15s;
}

.main_form_input:focus + label {
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
}

#result {
	width: 500px;
	max-height: 572px;
	border: 1px solid #303030;
	display: flex;
	flex-direction: column;
	background: #fffdee;
	box-shadow: 0 10px 50px #999;
	border-radius: 5px;
	padding-top: 30px;
	position: absolute;
	z-index: 50;
	overflow: hidden;
}

.result_span {
	position: absolute;
	text-align: center;
	width: 100%;
}

.books_list {
	position: absolute;
	text-align: center;
	width: 100%;
	margin-top: 53px;
	max-height: 460px;
	overflow-x: none;
	overflow-y: scroll;
	padding-left: 10px;
}

.books_list_li {
	position: relative;
	margin: 3px 0;
	display: flex;
	justify-content: center;
	padding: 0 40px;
}

.li_info {
	width: 20px;
	height: 20px;
	position: relative;
	border: 1px solid transparent;
	border-radius: 50%;
	cursor: pointer;
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto 0;
	right: -30px;
	display: block;
}

.li_info:after {
	content: "?";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	color: transparent;
	font-weight: bold;
	font-size: 0.8em;
}

.books_list_li > div {
	position: relative;
}

.li_info:hover {
	transform: scale(1.15);
}

.books_list_li:hover div > span:after {
	transition: 0.3s ease;
	color: #000;
}

.books_list_li:hover div > span{
	transition: 0.3s ease;
	border: 1px solid #000;
}

#close_res_btn {
	position: absolute;
	top: 10px;
	right: 10px;
	display: block;
	height: 20px;
	width: 20px;
	cursor: pointer;
}

#close_res_btn:after, #close_res_btn:before {
	content: "";
	position: absolute;
	top: 9px;
	width: 20px;
	height: 2px;
	background: #303030;
}

#close_res_btn:before {
	webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}

#close_res_btn:after {
	webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

#library_href {
	display: block;
	text-decoration: none;
	position: absolute;
	bottom: 20px;
	color: #888;
	padding-top: 20px;
	outline: none;
	font-size: 1.1em;
	cursor: pointer;
}

#library_href span {
	webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	border-color: #888;
	bottom: 9px;
	margin-left: 10px;
}

#library {
	display: flex;
	justify-content: center;
	flex-direction: column;
	margin: 0 auto;
	padding-bottom: 20px;
	max-width: 1100px;
}

#library_line {
	display: block;
	width: 100%;
	height: 2px;
	background: #aaa;
	margin-bottom: 30px;
}

#library_content {
	display: flex;
	flex-wrap: wrap;
	padding: 0 40px;
}

.library_book {
	margin: 10px;
	min-height: 250px;
	width: 320px;
	padding: 0 20px 20px;
	box-shadow: 0 1px 4px rgba(0, 0, 0, .3),
				-23px 0 20px -23px rgba(0, 0, 0, .6),
				23px 0 20px -23px rgba(0, 0, 0, .6),
				inset 0 0 40px rgba(0, 0, 0, .1);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: #fffdee;
	position: relative;
}

.library_book > span {
	border-bottom: 1px solid #ccc;
	margin: 5px 0;
	width: 100%;
	text-align: right;
	position: relative;
	padding: 1px 0;
}

.library_book > span:before {
	display: block;
	color: #777;
	font-size: 0.8em;
	float: left;
	margin-right: 15px;
	margin-top: 3px;
}

#library_add_book {
	border: 4px dashed #999;
	padding: 0 20px;
	min-height: 270px;
}

#add_book_layer1 {
	position: absolute;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

#add_book_layer2 {
	display: none;
	padding: 10px 0;
}

#add_book_layer2 > label {
	position: absolute;
	left: 20px;
	color: #777;
	font-size: 0.8em;
	margin-top: 14px;
}

#add_book_layer2 > input {
	outline: none;
	border: 0;
	border-bottom: 2px dashed #ccc;
	font-size: 1em;
	background: transparent;
	margin: 3px 0;
	width: 100%;
	text-align: right;
	position: relative;
	padding-top: 4px;
	padding-bottom: 4px;
}

#add_book_author {
	padding-left: 55px;
}

#add_book_name {
	padding-left: 85px;
}

#add_book_country {
	padding-left: 65px;
}

#add_book_year {
	padding-left: 35px;
}

#add_book_count {
	padding-left: 100px;
}

#add_book_hr1, #add_book_hr2 {
	height: 60px;
	width: 5px;
	color: #999;
	background: #999;
	position: absolute;
	border: none;
}

#add_book_hr1 {
	transform: rotate(90deg);
}

#lib_book_add_button {
	width: fit-content;
	border: 2px solid #777;
	color: #777;
	border-radius: 5px;
	text-align: center;
	padding: 2px 20px;
	cursor: pointer;
	transition: box-shadow 0.2s;
	font-size: 0.8em;
	margin: 10px auto 0;
}

#lib_book_add_button:hover {
	box-shadow: 0 0 10px #ccc;
}

#lib_book_add_button:active {
	color: #303030;
	border-color: #303030;
}

.library_book_rm {
	width: 17px;
	height: 20px;
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	cursor: pointer;
	background: url("../img/library_book_rm.png") no-repeat;
	background-size: cover;
}

.lib_book_author:before {
	content: "Автор: ";
}

.lib_book_name:before {
	content: "Название: ";
}

.lib_book_country:before {
	content: "Страна: ";
}

.lib_book_year:before {
	content: "Год: ";
}

.lib_book_count:before {
	content: "Количество: ";
}

.lib_book_control {
	position: relative;
	width: 100%;
	height: 36px;
	top: 10px;
	display: flex;
	justify-content: space-around;
	margin-bottom: 15px;
}

.lib_book_inc_dec {
	display: flex;
}

.lib_book_control_dec, .lib_book_control_inc {
	height: 36px;
	width: 36px;
	display: block;
	border-radius: 50%;
	border: 2px solid #777;
	position: relative;
	cursor: pointer;
	margin: 0 5px;
	position: relative;
}

.lib_book_control_dec:before, .lib_book_control_inc:before {
	content: "";
	display: block;
	width: 15px;
	height: 3px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	background: #777;
}

.lib_book_control_inc:after {
	content: "";
	display: block;
	width: 3px;
	height: 15px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	background: #777;
}

.books_list::-webkit-scrollbar {
	width: 10px;
}

.books_list::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 10px;
}
 
.books_list::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

#library_books_restore {
	width: 200px;
	height: 50px;
	margin: 20px auto 0;
	border: 0;
	outline: 0;
	cursor: pointer;
	background: #303030;
	color: #fff;
	font-size: 0.8em;
}
